cloud_id                 = "cloudid"
folder_id                = "folderid"
zone                     = "ru-central1-a"
docker_disk_image        = "imageid"
public_key_path          = "~/.ssh/ubuntu.pub"
subnet_id                = "subnetid"
service_account_key_file = "key.json"
private_key_path         = "~/.ssh/ubuntu"
count_apps               = 1
